 <footer>
            <hr>
            <div class="footer_content">
                <div class="footer_text">
                    CST336 Internet Programming. 2020&copy; Reynolds <br />
                    <strong>Disclaimer:</strong> The information in this webpage is fictitious. 
                    It is used for academic purposes only. 
                </div>
                <figure>
                    <img src="img/csumb_round_logo.png" alt="CSUMB logo">
                </figure>
            </div>
        </footer>
    </body>
</html>