<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HW 1: Artificial Intelligence</title>
        <meta charset="utf-8" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <h1> Healthcare and Artificial Intelligence </h1>
            <nav>
                <a <% if (page_name === 'index') { %>class="current" <% } %> href="/">Home</a>
                <a <% if (page_name === 'data') { %>class="current" <% } %> href="/data">Data Analysis</a>
                <a <% if (page_name === 'patient') { %>class="current" <% } %> href="/patient">Patient Experience</a>
                <a <% if (page_name === 'drug') { %>class="current" <% } %> href="/drug">Drug Development</a>
                <a <% if (page_name === 'references') { %>class="current" <% } %> href="/references">References</a>
            </nav>
        </header>