<%- include('partials/header.ejs') %>
        
<main>
    <div class="content"> 
        <figure>
            <img src="img/globe.jpg" alt="Globe image"> 
        </figure>
        <section> 
            <h2>Data Analysis</h2>
            <p>
                With deep learning and artificial intelligence, patient’s medical 
                histories and symptoms can be quickly and thoroughly analyzed, giving 
                them more accurate results.
            </p>
            <p>
                The amount of data being collected in the medical field is enormous 
                and very hard to make sense of, without AI. 
            </p>
            <p>
                Healthcare research companies are now using AI to sift through and organize 
                billions or even trillions of data points. This will allow healthcare professionals 
                to predict potential disease, give patients more personalized health plans and give 
                doctor’s the tools they need to accurately diagnose their patients.
            </p>
        </section>
    </div>
</main>
        
<%- include('partials/footer.ejs') %>     