<%- include('partials/header.ejs') %>
        
<main>
    <div class="content"> 
        <figure>
            <img src="img/home_photo.jpg" alt="AI and Healthcare image">
        </figure>
        <section>
            <h2>Healthcare and Artificial Intelligence</h2>
            <p>
                Healthcare has seen some amazing advances with the 
                innovation of artificial intelligence and robotics. 
            </p>
            <p>
                With sophisticated algorithms to diagnose disease or predict health 
                outcomes, robots to improve both research and precision surgery, 
                patients have more accuracy and security in their medical care. 
            </p>

            <h3><em>AI has provided the medical field with:</em></h3>
            <ol>
                <li>The ability to <span class="list_item"><strong>analyze</strong></span> mass amounts of medical data in order to 
                better care for patients</li>
                <li>Improved <span class="list_item"><strong>patient experience</strong></span> through automation and robotics</li>
                <li>Quick and inexpensive <span class="list_item"><strong>development and testing</strong></span> for new drugs</li>
            </ol>
        </section>
    </div>
</main>
        
<%- include('partials/footer.ejs') %>     