<%- include('partials/header.ejs') %>
        
<main>
    <div class="content"> 
        <figure>
            <img src="img/waiting_room.jpeg" alt="Patients in waiting room"> 
        </figure>
        <section> 
            <h2>Patient Experience</h2>
            <p>
                AI is improving patient's overall experience when going to the hospital. 
                Hospital staff can get overwhelmed by repetitive tasks that take away from their 
                time helping patients. With AI, they can focus on walking patients through 
                intake forms and quickly assisting them, shortening wait times.
            </p>
        </section>
    </div>
    
    <div class="content"> 
        <p> 
            Robots are being used to perform many types of surgeries, allowing doctors 
            to have a magnified, clear view of the surgical site and more precision in 
            their tasks. 
        </p>
        <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WhDQqRDOA4k" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
    </div>
</main>
        
<%- include('partials/footer.ejs') %>     